<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="address_book_event_save_before">
        <observer name="AliasNameObserver" instance="Customer\SettingsAddressBook\Observer\AliasNameObserver" />
    </event>
</config>
