<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="settings_addressbook" translate="label" sortOrder="9">
            <label>Address Book</label>
        </tab>
        <section id="type_order" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order name</label>
            <tab>settings_addressbook</tab>
            <resource>Customer_SettingsAddressBook::ordername_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="orderName" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Type order</label>
                    <source_model>Customer\SettingsAddressBook\Model\Config\Source\OrderTypeName</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
